body {
    background-color: #fffbf7;
}

.header {
    /* margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px; */
    margin: 40px 20px 0px;
    font-size: 0;
    font-family: sans-serif;
    height: 45px;
}

.header > * {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
}

.logo {
    width: 15%;
}

.logo > img {
    width: 15%;
}

.navbar {
    width: 70%;
    text-align: center;
    color: #025157;
    font-weight: 500;
}

.menu-item {
    margin-right: 25px;
    margin-left: 25px;
}

.actions {
    width: 15%;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
}

.actions > * {
    margin-right: 10px;
    margin-left: 10px;
}

.actions a {
    color: #67b54b;
}

li {
    display: inline;
}

.main {
    margin-top: 285px;
    text-align: center;
}

h1 {
    color: #46484c;
    font-family: "Sofia", sans-serif;
    font-size: 30px;
    text-align: center;
}

p {
    color: #8b8b8bcc;
    font-family: Verdana;
    font-size: 20px;
}

.text-info {
    font-family: "Audiowide", sans-serif;
    font-size: 25px;
}

button {
    color: white;
    background-color: #67b54b;
    padding: 14px 12px 14px 12px;
    border: 0;
    border-radius: 5px;
}

img {
    display: block;
    margin-left: 15%;
    max-width: 70%;
}

.img-capterra{
    max-width: 40%;
    margin-left: 30%;
}

.publish h3 {
    font-family:'Franklin Gothic Medium';
    font-size: 40px;
    line-height: 1;
    color: #025157;
}

.publish p {
    font-size: 16px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 20px;
}

.publish form {
    display: flex;
}

.publish form p {
    color: #025157;
    margin-right: 18px;
}

.publish form div input {
    padding: 14px 12px 14px 12px;
    border: 1;
    border-radius: 5px;
}

.promo {
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
}

.explanatory-video {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.explanatory-video img {
    width: 120px;
    margin-top: 10px;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fffbf7;
}

.success {
    display: flex;
    align-items: center;
    margin: 20px;
    background-color: #a1d683;
}

.success .text-view {
    flex: 2;
    padding: 5%;
    margin: 20px;
}

.success .text-view h2 {
    font-family: 'Courier New';
    font-size: 40px;
    color: #025157;
    line-height: 1.5;
}

.success .text-view p {
    font-size: 15px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 50px;
}

.success .text-view button {
    padding: 12px;
    border-radius: 8px;
    height: 50px;
}

.success .text-view img {
    width: 500px;
}

.success .stories {
    flex: 1;
    margin: 100px;
    background-color: #fff;
    border-radius: 10px;
}

.success .stories .card-image {
    position: relative;
    margin-top: 0;
}

.success .stories .card-image .card-company {
    position: absolute;
    background-color: #f9da73;
    border-radius: 80%;
    width: 40%;
    height: 40%;
    bottom: -40px;
    right: 50px;
    max-width: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.success .stories .card-body {
    padding: 40px;
}

.success .stories .card-body h4 {
    font-family:'Arial Narrow Bold', sans-serif;
    color: #025157;
    font-size: 20px;
    margin-bottom: 30px;
}

.success .stories .card-body h3 {
    font-size: 30px;
    font-family: Arial;
    margin-bottom: 30px;
}

.success .stories .card-footer {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 660px;
}
